#tituloEnorme{
    color: royalblue;
    font-size:5em;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid green;
    text-align: center;
}

body{
    background-color:black;
    color: white;
    text-align: center;
}

footer{
    background-color: rgb(65, 147, 202);
    width: 100%;
    left: 0%;
    bottom: 0%;
    position: absolute;
    line-height: 3px;
}

#contenidoFooter h3{
    float: left;
    margin-left: 20%;
}