#tituloEnorme{
    color: royalblue;
    font-size:5em;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid green;
    text-align: center;
}

body{
    background-color:black;
    color: white;
    text-align: center;
}

#contenidoFooter{
    background-color: cyan;
}